*{margin: 0; padding: 0;} 
body {
	font-family: 'Poppins', 'Open Sans' ,sans-serif;
	overflow-x: hidden;
}
$color-menu: #1C63B8;
$color-topbar:#F7F7F7;
$color-title: #333333;
$color-text:#858585;
$color-white:#fff;
//đóng gói scss
@mixin ngan {
 	width: 60px;
	border:1px solid #c6c1c1;
	margin:auto;
	margin-bottom: 10px;
}
@mixin heading-title{
	text-transform: uppercase;
	font-family: '';
	font-weight: 600;
}
.wrapper{
	.header-wrap{
		.top-bar{
			background: $color-topbar;
			.top-bar__content{

			}
			.top-bar__social{

			}
		}
		.main-header{
			.site-header{
				.logo{

				}
				.header-aside{
					.header-aside__info{
						.header-aside__info--title{

						}
						.header-aside__info--subtitle{

						}
					}
					.header-aside__btn{

					}
				}
			}
			.menu-header{
				background: $color-menu!important;
			}
		}
	} 
	// end headerwrap
	.services{
		background: $color-topbar;
		.title{
			.heading-title{
				text-transform: uppercase;
				font-family: '';
				font-weight: 600;
			}
			.ngan{
				@include ngan;
			}
			.subtitle{
				width: 550px;
				margin:auto;
				color: $color-text;
			}
		}
		.services__content{
			text-align: center;
			.icon-wrap{
				width: 100px;
				height: 100px;
				line-height: 118px;
				margin:auto;
				border: 1px solid $color-text;
				border-radius: 50%;
				transition: all 0.5s;
				&:hover{
					background: $color-menu;
					transition: all 0.5s;
					i{
						color:$color-white;
						transition: all 0.5s;
					}
				}
				i{
					font-size: 40px;
					color:$color-menu;
				}
			}
			.heading {
				font-size: 16px;
			    line-height: 26px;
			    margin-top: 21px;
			    margin-bottom: 12px;
			}
			.desc{
				color:$color-text;
				margin-bottom: 4px;
			}
			.elm-btn{
				padding-bottom: 50px;
				a{
					font-size: 13px;
			    	font-weight: 500;
			    	letter-spacing: 1px;
			    	margin-top: 10px;
			    	color: $color-text;
			    	text-transform: uppercase;

				}
				
			}
		}
	}//end services
	.row-why-us{
		.modal-video{
			position: relative;
			.modal-video__img{
				.icon-play-video{
					width: 70px;
					height: 70px;
					background: $color-white;
					border: 1px solid $color-white;
					border-radius: 50%;
					position: absolute;
				    bottom: 46%;
				    left: 50%;
				    transform: translateX(-50%);
					a{
						i{
							text-align: center;
						    position: absolute;
						    top: 24px;
						    font-size: 21px;
						    left: 27px;
						}
					}
				}
			}
		} 
		// end modal video
		.why-content{
			padding-left: 65px;
    		padding-top: 35px;
			.title{
				text-align: justify!important;
				.heading-title{
					text-transform: uppercase;
					font-family: '';
					font-weight: 600;
				}
				.ngan{
					text-align: justify!important;
					width: 60px;
					border:1px solid $color-text;
					margin-bottom: 10px;
				}
				.subtitle{
					margin:none!important;
					width: 520px;
					color: $color-text;
				}
			}
		}
	}// end row us

	.section-space{
		background: $color-topbar;
		.fun-box{
			padding: 45px 0;
			.flag{
				
			}
			.count-number{
				letter-spacing: 1px;
				color:$color-menu;
				font-size: 2.5em;
				font-weight: bold;
			}
			.ngan{
				@include ngan;
			}
			.title{
				color: #777;
			    font-size: 14px;
			    margin-top: 10px;
			}
		}
	}
	.gallery {
		.title{
			.heading-title{
				text-transform: uppercase;
				font-family: '';
				font-weight: 600;
			}
			.ngan{
				@include ngan;
			}
			.subtitle{
				width: 550px;
				margin:auto;
				color: $color-text;
			}
		}
	}
	.gallery-box{
		.inner{
			position: relative;
			.hover-img{
				.gallery-image{
					&:before{
						content: '';
					    width: 100%;
					    height: 100%;
					    background: #333;
					    position: absolute;
					    opacity: 0.8;
					}
					img {
						width: 100%!important;
						background-size: cover;
					}
				}
				.text{
					position: absolute;
					text-align: center;
				    margin: auto;
				    width: 100%;
				    left: 50%;
				    top: 150px;
				    transform:translateX(-50%);
					.text__icon{	
						width: 50px;
						height: 50px;
						margin:auto;
						background: $color-menu;
						cursor: pointer;
						transition: all 0.8s;
						&:hover{
							background: $color-white!important;

							i{
								color: #333!important;
							}
							
						}
						i{
							color: $color-white;
						    font-size: 20px;
						    margin: auto;
						    position: relative;
						    top: 14px;
						    transition: all 0.4s;
						}
					} // end text__icon

					.text__title{
						a{
							color: $color-white!important;
							font-size: 16px!important;
							font-weight: 600;
							text-transform: uppercase;
							transition: all 0.4s;
							text-decoration: none;
							&:hover{
								color:$color-menu!important;
							}
						}
						
					} //end text__title
				} //end text

			}
			
		} //end inner
	} //end gallery-box
	button{
		margin:auto;
	}
}
