*{margin: 0; padding: 0;} 
body {
	font-family: 'Poppins', 'Open Sans' ,sans-serif;
	overflow-x: hidden;
}
img {
	height: auto;
	object-fit: cover;
}
.breadcrumb-bg{
	background: #F7F7F7;
}
.breadcrumb-bg img{
    min-width: 100%;
}
#featured-title {
	position: relative;
}
#featured-title .featured-title-heading-wrap {
    display: table-cell;
    margin: 0;
    text-align: left;
    vertical-align: middle;
    width: 65%;
}

#featured-title .featured-title-heading {
    position: relative;
    font-size: 27px;
    color: #777;
    padding: 20px 0;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    z-index: 1;
    display: inline-block;
    margin: 0;
}
.breadcrumb-trail {
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    padding: 25px 0;
}
.main-content{
	text-align: justify;
}

/*services*/
/*-------sv_sync-------*/
.slice-4{
    padding: 50px;
    background-color: #f2f8ff;
}
.exist-subtitle ul{
    width: 88%;
}
.margin-top-base ul{
    width: 88%;
}
.blue-border{
    max-width: 224px;
    width: 100%;
    padding: 7px 18px;
    line-height: 24px;
    color: #4d94e0;
    margin:auto;
    position: relative;
    bottom: 50px;
    background-color: transparent;
    border: 1px solid #4d94e0;
    transition: all 0.5s;

    border-radius: 0!important;
}
.blue-border:hover{
    color: #fff;
    background-color: #4d94e0;
}
